body {
    background-image: url("https://i.pinimg.com/originals/17/82/23/178223c0e273b8cc233ab4830c33c90f.jpg");
}

#main-title {
    float: center;
    margin-left: 42%;
    background-color: black;
    color: whitesmoke;
}

#subtitle {
    margin-left: 3%;
    text-align: center;
    background-color: black;
    color: whitesmoke;
}


#image-id {
    margin-left: 39%;
    text-shadow: black;
    color: whitesmoke;
}

#favorite {
    text-align: center;
    float: left;
    margin-left: 5%;
    width: 205px;
    height: 600px;
}

#favorited {
    color: whitesmoke;
    margin-left: 1%;
    float: left;
}

#favorite-button {
    float: left;
    margin-left: 32%;
}

#favoritedimages {
    float: left;
    margin-left: 2%;
    width: 200px
}


#current-image {
    width: 900px;
    height: 670px;
    float: center;
    padding: 20px
}

#allimages {
    color: whitesmoke;
    margin-top: 5%;
    text-align: center;
    float: right;
    
    width: 250px;
    height: 600px;
}

#copyright {
    margin-top: 10%;
}

#search-form {
    margin-left: 30%;
    float: center;
}

#generate {
    margin-left: 34%;
    float: center;
}

#random-generate{
    position: relative;
}

#favorited {
    float: left
}