#main-title {
    float: center;
    margin-left: 42%;
}

#subtitle {
    margin-left: 3%;
    text-align: center;
}

#image-id {
    margin-left: 39%;
}

#comments {
    width: 200px;
    text-align: center;
    float: right;
}

#favorite {
    text-align: center;
    float: left;
    margin-left: 7%;

}

#current-image {
    width: 850px;
    height: 700px;
    margin-left: 9%;
}

#copyright {
    margin-top: 10%;
}

#search {
    margin-left: 50%;
}

#generate {
    margin-left: 34%;
}

/* body {
    background-image: url("https://i.pinimg.com/originals/17/82/23/178223c0e273b8cc233ab4830c33c90f.jpg");
   } */

